.product-card {
    width: 220px;
    /* sabit genişlik */
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    /* dikey boşluk */
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
    height: 130px;
    width: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

button {
    font-weight: 700;
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Chrome, Safari */
    line-clamp: 2;
    /* Standart */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}

.detail-button {
    background-color: lightgray;
}

.detail-button:hover {
    background-color: aliceblue;
}

.buyNow-button {
    background-color: aliceblue;


}

.buyNow-button:hover {
    background-color: lightgray;
}